:root {
    --headerBackgroundColor: rgb(20,33,61);
    --headerTextColor: white;
    --headerBackgroundButton: rgb(241,156,16);
    --mainBackgroundColorSection2: rgb(195,195,195);
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
}

/*-----HEADER-----*/
header {
    width: 100%;
    height: 400px;
    background-color: var(--headerBackgroundColor);
    color: var(--headerTextColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#downloadButton {
    background-color: var(--headerBackgroundButton);
}
header a {
    text-decoration: none;
    color: black;
    padding: 15px 30px;
    border-radius: 40px;
}

header a:active {
    color: black;
}

/*-----MAIN-----*/
section {
    height: 350px;
    margin: 0 auto;
    padding: 50px 50px;
    display: flex;
    align-items: center;
}

/*-----MAIN SECTION 1-----*/
.mainContainer {
    width: 80%;
    /* height: 100%; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h2{
    font-size: 2em;
    font-weight: normal;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container p {
    width: 40%;
}

/*-----MAIN SECTION 2-----*/
section:nth-child(2) {
    background-color: var(--mainBackgroundColorSection2);
}
.secondContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.secondContainer div {
    width: 50%;
    padding-right: 80px
}

/*-----FOOTER-----*/
footer {
    width: 100%;
    height: 250px;
}